<section class="user-new">
  <h1>Register</h1>
  <br>
  <%= form_for :user, url: users_path do |f| %>

    Name: <%= f.text_field :name %>&nbsp;
    Email: <%= f.text_field :email %><br>
    <br>
    Password: <%= f.password_field :password %>&nbsp;
    Password Confirmation: <%= f.password_field :password_confirmation %><br>
    <br>
    <%= f.submit "Submit", class: "btn btn-success"  %>

  <% end %>
</section>