<article>
  <%= link_to product_path(product) do %>
    <%= image_tag product.image.thumb.url , alt: product.name %>
    <h1>
      <span><%= product.name %></span>
      <span><%= humanized_money_with_symbol product.price %></span>
    </h1>
    <div class="rating">
      <span><%= average_rating_stars(product.average_rating) %></span>
      <span><%= product.count_rating %>
        <% if product.count_rating > 1 %>
          reviews
        <% else %>
          review
        <% end %>
      </span>
    </div>
  <% end%>
  
  <% if product.quantity > 0 %>
    <div>
      <%= button_to add_item_cart_path(product_id: product.id), class: 'btn' ,
      method: :post do %>
        <%= fa_icon "shopping-cart", text: 'Add' %> 
      <% end %>
    </div>
  <% else %>
    <div>
      <span class='soldout'>Sold Out</span>
      <span>
        <button class="btn disabled">
          <%= fa_icon "shopping-cart", text: 'Add' %> 
        </button>
      </span>
    </div>
  <% end %>
  
</article>
